---
layout: default

---
<section class="container">
  <h1 class="centered">{{ page.title }} </h1>

  <div class="grid blog-loop">
      {% for post in paginator.posts %}
         <div class="col-4_sm-12">
          <a href="{{post.url}}">
            <img src="{{post.image_path}}"> <!-- for consistent image sizes you will either need to crop the images beforehand or change this to divs with background images -->
            <h3> {{post.title}} </h3>
            <p class="post-meta">{{post.date | date_to_string }} | By {{post.author}}</p>
            <p> {{post.excerpt | truncate:100 }} </p>
          </a>
        </div>
      {% endfor %}
  </div>

  {% if paginator.total_pages > 1 %}
  <div class="centered">

    {% if paginator.previous_page %}
    <div class="button previous">
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">previous</a>
    </div>
    {% endif %}

    {% if paginator.next_page %}
    <div class="button next">
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">next</a>
    </div>
    {% endif %}
    
  </div>
  {% endif %}
</section>
